<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="/#home" class="active">Home</a></li>
                <li><a href="/#cars">Cars</a></li>
                <li><a href="/#about">Recommendations</a></li>
                <li><a href="/#shops">Location</a></li>
                <li><a href="/#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Brands</span>
            <h2>BMW CARS</h2>
            <p>Providing the best car for you in various colours and brand. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <!-- <a href="contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a8479bfec6e247088b12340c40adc1cb_606x402.jpg" alt="">
                <h2>BMW X1</h2>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/1f8b1dac77c8488d822d3aadad5bc2d9_606x402.jpg" alt="">
                <h2>BMW 2 Series Gran Coupe</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a25e1bbf13ad46418c387496936974bf_606x402.png" alt="">
                <h2>BMW 3 Series</h2>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/7eb199a38e554fd2b5c3516ce6e1c9d2_606x402.jpg" alt="">
                <h2>BMW i3s</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/0f388edc893b4729958b7b2fe861b6d1_606x402.jpg" alt="">
                <h2>BMW X3</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a8ecf2e0c38f40d0b8f1d1995d30f650_606x402.jpg" alt="">
                <h2>BMW iX3</h2>
            </div>
             <!-- Box 7 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/0e3c5fa943584d1f932a895204542499_606x402.jpg" alt="">
                <h2>BMW X2</h2>
            </div>
             <!-- Box 8 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/0798bed318b3478fb5fbd62d0ce1280a_606x402.jpg" alt="">
                <h2>BMW 5 Series</h2>
            </div>
             <!-- Box 9 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/d2cd6ac0e0e5479ea7e27b6bbb8af48d_606x402.jpg" alt="">
                <h2>BMW 1 Series</h2>
            </div>
                <!-- Box 10 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/61c5b1789174440d8797b2c247fb2c10_606x402.jpg" alt="">
                <h2>BMW M3</h2>
            </div>
            <!-- Box 11 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/4c98a71ae5a14fb380c426c82f6b611f_606x402.jpg" alt="">
                <h2>BMW iX</h2>
            </div>
            <!-- Box 12 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/63d519e5784b450dab14518f6648dc1d_606x402.jpg" alt="">
                <h2>BMW i4</h2>
            </div>
            <!-- Box 13 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/03fbecf23a83439d92540c22787ee6ab_606x402.jpg" alt="">
                <h2>BMW X4</h2>
            </div>
            <!-- Box 14 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/47327a20814c491cb42755961c791037_606x402.jpg" alt="">
                <h2>BMW 4 Series Coupe</h2>
            </div>
              <!-- Box 15 -->
              <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/ba75f6dedcb543d1b2be54a72e6e2efe_606x402.jpg" alt="">
                <h2>BMW 6 Series GT</h2>
            </div>
            <!-- Box 16 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/c26fbe943e9d4bac8ea64b79ff2bf1ad_606x402.jpg" alt="">
                <h2>BMW Z4</h2>
            </div>
             <!-- Box 17 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/e4dee2affa664fdd8f98fb0b78ca78f6_606x402.jpg" alt="">
                <h2>BMW X5</h2>
            </div>
             <!-- Box 18 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/be858c34c6ac4697b6f34f8b57448487_606x402.jpg" alt="">
                <h2>BMW M2 Coupe</h2>
            </div>
             <!-- Box 19 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/499780fc9b824b438c7c1ab8b20bcf19_606x402.jpg" alt="">
                <h2>BMW X7</h2>
            </div>
                <!-- Box 20 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/516c8a03bc334f79aca03aec362a1a20_606x402.jpg" alt="">
                <h2>BMW X6</h2>
            </div>
            <!-- Box 21 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a5053365e7ca400b9aa71f962453ef1e_606x402.jpg" alt="">
                <h2>BMW M4 Coupe</h2>
            </div>
            <!-- Box 22 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/846bfa7f1d3f4693a07d2c3e880eea9a_606x402.jpg" alt="">
                <h2>BMW X3 M</h2>
            </div>
            <!-- Box 23 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/404a994fa1f94d9395710eff69c855a3_606x402.jpg" alt="">
                <h2>BMW X4 M</h2>
            </div>
            <!-- Box 24 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/9783d9d54db84afb9308eb6820fa298f_606x402.jpg" alt="">
                <h2>BMW 8 Series Gran Coupe</h2>
            </div>
            <!-- Box 25 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/fc2626626c764b7a91f7be2d3e72745a_606x402.jpg" alt="">
                <h2>BMW M5</h2>
            </div>
            <!-- Box 26 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/66270eb52a084360b828a2db8792a6e3_606x402.jpg" alt="">
                <h2>BMW 8 Series</h2>
            </div>
        </div>
    </section>
</body>
</html>