<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="index.html" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#cars">Cars</a></li>
                <li><a href="#about">Recommendations</a></li>
                <li><a href="#shops">Location</a></li>
                <li><a href="#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
 <!-- Home -->
 <center>
 <section class="main" id="main">
    <div class="main-text">
        <h1>Perodua Showroom</h1>
        <h2>Contact</h2>
        <br>
        <!-- Home Button -->
        <a href="#cars" class="btn">Call now</a>
    </div>

    <br>

    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.47724614099!2d103.7158836!3d1.4855923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da72b0155fd0c5%3A0x7497efbabbd3d258!2sAuto%20Bavaria%20Johor%20Bahru!5e0!3m2!1sen!2smy!4v1672430436746!5m2!1sen!2smy" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>
</center>

</section>

</body>


</html>