<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="/#home" class="active">Home</a></li>
                <li><a href="/#cars">Cars</a></li>
                <li><a href="/#about">Recommendations</a></li>
                <li><a href="/#shops">Location</a></li>
                <li><a href="/#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Brands</span>
            <h2>HONDA CARS</h2>
            <p>Providing the best car for you in various colours and brand. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/21e6041efacc4d80bb247a8944601fa3_606x402.jpg" alt="">
                <h2>HONDA CITY S</h2>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/10750c27a927426db27ad5031750bc8a_606x402.jpg" alt="">
                <h2>HONDA CITY HATCHBACK S</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/3c9c23fb4c7f4ca5885fb6c792790ac5_606x402.jpg" alt="">
                <h2>HONDA BR-V E</h2>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/2a7736cdf1bc48d799e8200c28296c55_606x402.jpg" alt="">
                <h2>HONDA HR-V S</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/08660ae50f18495082c8905fccafdef6_606x402.jpg" alt="">
                <h2>HONDA CIVIC E</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/e1541a7493f14c9f86983b99b90cae4e_606x402.png" alt="">
                <h2>HONDA CR-V 2WD</h2>
            </div>
             <!-- Box 7 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/915976f3865d4b2b984f9867663cade9_606x402.png" alt="">
                <h2>HONDA ACCORD</h2>
            </div>
             <!-- Box 8 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/c26f8b81b77c450d8865db3e6b926b30_606x402.jpg" alt="">
                <h2>HONDA ODYSSEY</h2>
            </div>
             <!-- Box 9 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a56a2351d4d644f4acac331e7fa67b02_606x402.jpg" alt="">
                <h2>HONDA CIVIC TYPE R</h2>
            </div>
        </div>
    </section>
</body>
</html>