<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="/#home" class="active">Home</a></li>
                <li><a href="/#cars">Cars</a></li>
                <li><a href="/#about">Recommendations</a></li>
                <li><a href="/#shops">Location</a></li>
                <li><a href="/#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Brands</span>
            <h2>HYUNDAI CARS</h2>
            <p>Providing the best car for you in various colours and brand. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/a0965c965e0e42a9a5a4289081dbc7c1_606x402.jpg" alt="">
                <h2>Hyundai Kona</h2>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/60d258b4922d4459a86342e926a1e0f4_606x402.jpg" alt="">
                <h2>Hyundai Elantra</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/26461c25d3f04f6a804685162470c24e_606x402.jpg" alt="">
                <h2>Hyundai Kona Electric e-Lite</h2>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/adc7ca393c1949e1a4098ec158723c1f_606x402.jpg" alt="">
                <h2>Hyundai Grand Starex</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/71b307baf27241518c5f4c3ad31ae3c0_606x402.jpg" alt="">
                <h2>Hyundai Santa Fe</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/bca2a653f30748f58d81ff00547b9051_606x402.jpg" alt="">
                <h2>Hyundai Staria Lite</h2>
            </div>
             <!-- Box 7 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/85874797de01477cba55258701c61ea2_606x402.jpg" alt="">
                <h2>Hyundai Sonata Premium</h2>
            </div>
             <!-- Box 8 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/372f57eafdd145bf9bc1783526644da5_606x402.jpg" alt="">
                <h2>Hyundai Ioniq 5 Lite</h2>
            </div>
             <!-- Box 9 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/20855dd3f15e4a66841d23fbb4d8840d_606x402.jpg" alt="">
                <h2>Hyundai i30N</h2>
            </div>
                <!-- Box 10 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/333bc1af8faa45f89bcd0cc09fb43de5_606x402.jpg" alt="">
                <h2>Hyundai Palisade Diesel Exec 8</h2>
            </div>
            <!-- Box 11 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/333bc1af8faa45f89bcd0cc09fb43de5_606x402.jpg" alt="">
                <h2>Hyundai Palisade GDI Luxe 8</h2>
            </div>
        </div>
    </section>
</body>
</html>