<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
	<link rel="stylesheet" href="/static/style.css" />
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#cars">Cars</a></li>
                <li><a href="#about">Recommendations</a></li>
                <li><a href="#shops">Location</a></li>
                <li><a href="#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text">
            <h1>The Easy Way to <br>Find <span>Best</span> Car</h1>
            <p>Follow our guide for helping <br>  you to using this application.</p>
            <!-- Home Button -->
            <a href="#cars" class="btn">Get Started </a>
        </div>
    </section>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>We have all types of car brands</h2>
            <p>Providing the best car for you in various colours, brands and prices. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <a href="/bmw">
                <span class="link"></span>
            </a>
                <img src="/static/img/car7.jpg" alt="">
                <h2>BMW Car</h2>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <a href="/honda">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car8.jpg" alt="">
                <h2>Honda Car</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <a href="/hyundai">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car9.jpg" alt="">
                <h2>Hyundai Car</h2>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <a href="/perodua">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car10.jpg" alt="">
                <h2>Perodua Car</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <a href="/toyota">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car11.jpg" alt="">
                <h2>Toyota Car</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <a href="/more">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car12.jpg" alt="">
                <h2>More Cars</h2>
            </div>
        </div>
    </section>
    <!-- Recommendation -->
    <section class="about container" id="about">
        <div class="about-img">
            <img src="/static/img/about.png" alt="">
        </div>
        <div class="about-text">
            <span>Car Recommendation</span>
            <h2>Get your new car recommended <br>by using your own preferences.</h2>
            <p>We will provide the most suitable car suggestions for you.</p>
              <!-- About Button -->
            <a href="/recommend" class="btn">Get Recommendation</a>
        </div>
    </section>
    <!-- Location Section -->
    <section class="shops" id="shops">
        <div class="heading">
            <span>What We Offer</span>
            <h2>Find the location of car shop and showroom now!</h2>
        </div>
         <!-- Shops Container -->
         <div class="shops-container container">
            <!-- Box 1 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car1.png" alt="">
                <h3>Perodua Showroom</h3>
                <span>07-2322288</span>
                <i class='bx bxs-star'>(5 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car2.png" alt="">
                <h3>Ooi Auto Sdn. Bhd.</h3>
                <span>04-9668628</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car3.png" alt="">
                <h3>Tian Siang Auto Sdn. Bhd.</h3>
                <span>04-9668628</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car4.png" alt="">
                <h3>Lee Motors Autocare Sdn Bhd</h3>
                <span>04-7335003</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car5.png" alt="">
                <h3>Ingress Auto Sdn Bhd</h3>
                <span>08-75847998</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <a href=" contact.html">
                    <span class="link"></span>
                </a>
                <img src="/static/img/car6.png" alt="">
                <h3>Wheelcorp Premium Sdn Bhd</h3>
                <span>03-33583913</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">View Details</a>
            </div>
        </div>
    </section>
    <!-- Review Container -->
    <section class="review" id="review">
        <div class="heading">
            <span>Review</span>
            <h2>Review from Customer</h2>
            <p>Some of the reviews from customers that had already used our recommendation service with their new car .</p>
        </div>
        <!-- Review Container -->
        <div class="review-container container">
            <!-- Box 1 -->
            <div class="box">
                <img src="/static/img/honda.jpg" alt="">
                <span>2018 Honda City 1.5 V</span>
                <h3>Gerald Chew</h3>
                <i class='bx bxs-star'>3.0</i>
                <p> Pros: Good for day-to-day drive. Fuel consumption avg 15km/L.</p>
                <p> Cons: Slight bumpy rear seat which is still acceptable.</p>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <img src="/static/img/yaris.jpeg" alt="">
                <span>2019 Toyota Yaris 1.5G</span>
                <h3>Foo King</h3>
                <i class='bx bxs-star'>5.0</i>
                <p> Pros: Good Fuel Efficiency. Comfortable Ride. Smooth Transmission.</p>
                <p> Cons: Fabrics Seat. No Sun Roof. Bad Stereo System.</p>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <img src="/static/img/mazda.jpg" alt="">
                <span>2019 Mazda CX-5 2.2L GLS SKYACTIV-D</span>
                <h3>mdzaboy</h3>
                <i class='bx bxs-star'>4.0</i>
                <p> Pros: Powerful and efficient diesel engine. Fantastic handling.</p>
                <p> Cons: Noisy power tailgate execution. Brakes do not bite quite well</p>
            </div>
        </div>
        <center>
            <a href="reviews.html" class="btn">More Reviews<i class='bx bx-right-arrow-alt' ></i></a>
        </center>
    </section>
    <!-- Footer -->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="/" class="logo">Car<span>Recommendation</span></a>
            </div>
            <div class="footer-box">
                <h3></h3>
            </div>
            <div class="footer-box">
                <h3></h3>
            </div>
            <div class="footer-box">
                <h3></h3>
            </div>
        </div>
    </section>
    <!-- Copyright -->

    <!-- Link To Js -->
	<!-- <script type="text/css" src="{{ url_for('static', filename='style.css')}} "></script> -->
    <!-- <script src="website.py"></script> -->
</body>
</html>