<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="/#home" class="active">Home</a></li>
                <li><a href="/#cars">Cars</a></li>
                <li><a href="/#about">Recommendations</a></li>
                <li><a href="/#shops">Location</a></li>
                <li><a href="/#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>PERODUA CARS</h2>
            <p>Providing the best car for you in various colours and brand. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <img src="https://images.wapcar.my/file1/85c1561ed3f24beaa8ead4bd8dd43745_606x402.jpg" alt="">
                <h2>Perodua Axia AT</h2>
            </div>
            <!-- Box 2 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/85c1561ed3f24beaa8ead4bd8dd43745_606x402.jpg" alt="">
                <h2>Perodua Axia MT</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/4e743076cf7c4965824cc93bc58b44e1_606x402.jpg" alt="">
                <h2>Perodua Bezza AT</h2>
            </div>
             <!-- Box 4 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/4e743076cf7c4965824cc93bc58b44e1_606x402.jpg" alt="">
                <h2>Perodua Bezza MT</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/3ab3e8fc6e8a48019f8e23bbd79ddb6c_606x402.jpg" alt="">
                <h2>Perodua Myvi</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/084ed44e9023479f9c69c3542ab9685e_606x402.jpg" alt="">
                <h2>Perodua Alza</h2>
            </div>
            <!-- Box 7 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/ed3c6eec461043be9bbfb9fae8c68258_606x402.jpg" alt="">
                <h2>Perodua Ativa</h2>
            </div>
            <!-- Box 8 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/4d0782a64ad645edb8d26e6453a2d37f_606x402.jpg" alt="">
                <h2>Perodua Aruz</h2>
            </div>
        </div>
    </section>
</body>
</html>