<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Car Sale Website</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<!-- Navbar -->
    <header>
        <!-- Nav Container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="/" class="logo">Car<span>Recommendation</span></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="/#home" class="active">Home</a></li>
                <li><a href="/#cars">Cars</a></li>
                <li><a href="/#about">Recommendations</a></li>
                <li><a href="/#shops">Location</a></li>
                <li><a href="/#review">Review</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search' id="search-icon" ></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
    </header>
    <!-- Cars Section -->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Brands</span>
            <h2>TOYOTA CARS</h2>
            <p>Providing the best car for you in various colours and brand. Find your car now!</p>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/cefe081141c34872944d755802fe820e_606x402.jpg" alt="">
                <h2>Toyota Yaris J</h2>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/574d393e82c74c78b6672182a79e9ec9_606x402.jpg" alt="">
                <h2>Toyota Vios J</h2>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/8a4a22443a5547ff9e47c7567d0fbf38_606x402.jpg" alt="">
                <h2>Toyota Avanza E</h2>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/dfde0b1574324fbdb0480396f7aec2b3_606x402.jpg" alt="">
                <h2>Toyota Rush G</h2>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/9771c2adb12e461eae7d0ed87077bf98_606x402.jpg" alt="">
                <h2>Toyota Hilux Single Cab</h2>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/df9620c4b9be4ab89e36dea7087a7236_606x402.jpg" alt="">
                <h2>Toyota Veloz</h2>
            </div>
             <!-- Box 7 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/81d7263d8ac9441e9a73a0da92e31b83_606x402.jpg" alt="">
                <h2>Toyota Innova E</h2>
            </div>
             <!-- Box 8 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/2c968af22e304e8c960274332a584622_606x402.jpg" alt="">
                <h2>Toyota Corolla Cross G</h2>
            </div>
             <!-- Box 9 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/b3032dea6e114fca83614a07cdd2ca52_606x402.jpg" alt="">
                <h2>Toyota Corolla Altis E</h2>
            </div>
                <!-- Box 10 -->
             <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/149e1c5fb77c47bca49e74dfdc4c6c7c_606x402.jpg" alt="">
                <h2>Toyota Fortuner</h2>
            </div>
            <!-- Box 11 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/fb02573375ff466b82c1013513f36aba_606x402.jpg" alt="">
                <h2>Toyota Camry</h2>
            </div>
            <!-- Box 12 -->
            <div class="box" >
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/94eeee25a4a3435f911859749b2caf7e_606x402.jpg" alt="">
                <h2>Toyota RAV4</h2>
            </div>
            <!-- Box 13 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/f130203c0afa45b1a46ee132757a9ec5_606x402.jpg" alt="">
                <h2>Toyota Harrier Luxury</h2>
            </div>
            <!-- Box 14 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/af612d534c4e452b8fc887548bcfa14c_606x402.jpg" alt="">
                <h2>Toyota GR Yaris</h2>
            </div>
            <!-- Box 15 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/170da04c4241460a8460e38dff4acc61_606x402.jpg" alt="">
                <h2>Toyota Vellfire</h2>
            </div>
            <!-- Box 16 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/b420f3a4d03741a7a57bfd8a867c437e_606x402.jpg" alt="">
                <h2>Toyota Alphard</h2>
            </div>
            <!-- Box 17 -->
            <div class="box">
                <!-- <a href=" contact.html"> -->
                    <!-- <span class="link"></span> -->
                <!-- </a> -->
                <img src="https://images.wapcar.my/file1/cba233215d75423f974ff665c4965f6f_606x402.jpg" alt="">
                <h2>Toyota GR Supra</h2>
            </div>
        </div>
    </section>
</body>
</html>